# Packages
/packages/*

# .vs
/.vs/*

# bin
/Rotate.Pictures/bin/*

# obj
/Rotate.Pictures/obj/*

# UnitTest/bin
/UnitTest.Rotate.Pictures/bin/*

# UnitTest/obj
/UnitTest.Rotate.Pictures/obj/*
/UnitTest.Rotate.Pictures/bin/Release/Moq.dll
