<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Directories are semicolon separated -->
		<add key="Initial Folders" value="M:\Pictures;G:\Pictures;\\xyz\Pic\Pictures\Pics"/>
		<add key="Max picture tracker depth" value="1000"/>

		<add key="Max picture tracker depth" value="9999"/>

		<!-- Extensions are semicolon separated -->
		<add key="Still pictures" value=".jpg;.png;.bmp"/>
		<add key="Motion pictures" value=".avi;.jpeg;.Peggy;.Ben"/>

		<!-- Image stretch may be: "Fill", "None", "Uniform", "UniformToFill" -->
		<add key="Image stretch" value="fILL"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
